body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./5.jpg);
    background-size: cover;
    z-index: -1;
    
  }

  .login-container {
    width: 400px;
    margin:100px auto;
    padding: 30px;
    border-radius: 48px 0;
    /* background-image: linear-gradient(#f22178, rgb(40, 127, 250)); */
    box-shadow: 0 0 10px rgba(100, 132, 248, 0.9);
    animation: fadeIn 1s ease-in-out;
    transition: transform 0.5s ease;
  }
  @keyframes fadeIn {
    0% {opacity:0;
    }
    100%{ opacity:1;
    }
  }
 .login-container:hover{
  transform:scale(1.05) ;
 }

  button {
    background-image: linear-gradient(rgb(242, 119, 162), rgb(246, 14, 92));
    width: 350px;
    height: 40px;
    font-weight: bolder;
    color: #ffffff;
    border: none; 
    cursor: pointer;
    border-radius: 10px;
    border-top: 1px solid whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(5, 5, 16, 0.9);
  }

  .button:focus {
    outline: none;
    
  }

  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(7, 7, 34, 0.8);
  }

  .label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(4, 4, 16, 0.8);
    color: whitesmoke
  }
  input{
    box-shadow:0 0 6px rgba(227, 228, 233, 0.9); ;
  }
  .signin{
    text-align: center;
    font-size: medium;
     margin-top: 10px; 
  }
  